<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-import-simple-translations>[entity]</app-import-simple-translations>
      <h2>{{entity}}</h2>
      <table>
      	<tr>
      		<th *ngFor = "let column of headers">     		
      {{column}}
      </th>
      	</tr>
      	<tr *ngFor="let translation of translations">
      		<td >
      			{{translation.placeholder}}     			
      		</td>
      		<td>    
      			{{translation.name_en_gb}} 			
      		</td>
      		<td>     			
      			{{translation.name_fr_fr}}
      		</td>
      		<td>
      			<button (click) = "edit(translation.id, translation.placeholder,translation.name_en_gb,translation.name_fr_fr)">edit</button>
      		</td>
      	</tr>
      </table>      
    </div>
  </div>

<button (click) = "add()">add new placeholder</button>
<div class="col-sm-8 col-sm-offset-2" *ngIf="edition">
  <form [formGroup]="translationForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group" hidden>
      <label for="id">id</label>
      <input type="text" id="id" class="form-control" formControlName="id" >
    </div>
    <div class="form-group">
      <label for="title">placeholder</label>
      <input type="text" id="title" class="form-control" formControlName="placeholder">
    </div>
    <div class="form-group">
      <label for="name_fr_fr">french translation</label>
      <input type="text" id="name_fr_fr" class="form-control" formControlName="name_fr_fr">
    </div>
    <div class="form-group">
      <label for="name_en_gb">english translation</label>
      <input type="text" id="name_en_gb" class="form-control" formControlName="name_en_gb">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>