<p>simpletranslationlist works!</p>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{entity}}</h2>
      <table>
      	<tr>
      		<th *ngFor = "let column of headers">     		
      {{column}}
      </th>
      	</tr>
      	<tr *ngFor="let translation of translations">
      		<td >
      			{{translation.placeholder}}     			
      		</td>
      		<td>    
      			{{translation.en_gb}} 			
      		</td>
      		<td>     			
      			{{translation.fr_fr}}
      		</td>
      		<td>
      			<button (click) = "edit(translation.placeholder,translation.en_gb,translation.fr_fr)">edit</button>
      		</td>
      	</tr>
      </table>      
    </div>
  </div>
</div>
<button (click) = "add()">add new placeholder</button>
<div class="col-sm-8 col-sm-offset-2" *ngIf="edition">
  <form [formGroup]="translationForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="title">placeholder</label>
      <input type="text" id="title" class="form-control" formControlName="placeholder">
    </div>
    <div class="form-group">
      <label for="artist">fr_fr</label>
      <input type="text" id="artist" class="form-control" formControlName="fr_fr">
    </div>
    <div class="form-group">
      <label for="dynasty">en_gb</label>
      <input type="text" id="dynasty" class="form-control" formControlName="en_gb">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>