<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{entity}}</h2>
      <table>
      	<tr>
      		<th *ngFor = "let column of headers">     		
      {{column}}
      </th>
      	</tr>
      	<tr *ngFor="let theme of themes">
      		<td >
      			{{theme.placeholder}}     			
      		</td>
      		<td>    
      			{{theme.name_en_gb}} 			
      		</td>
      		<td>     			
      			{{theme.name_fr_fr}}
      		</td>
      		<td>     			
      			{{theme.media}}
      		</td>
      		<td>
      			<button (click) = "edit(theme.placeholder,theme.name_en_gb,theme.name_fr_fr,theme.mediaId)">edit</button>
      		</td>
      	</tr>
      </table>      
    </div>
  </div>
</div>
<button (click) = "add()">add new placeholder</button>
<div class="col-sm-8 col-sm-offset-2" *ngIf="edition">
  <form [formGroup]="themeForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="title">placeholder :</label>
      <input type="text" id="title" class="form-control" formControlName="placeholder">
    </div>
    <div class="form-group">
      <label for="name_en_gb">name in English :</label>
      <input type="text" id="name_en_gb" class="form-control" formControlName="name_en_gb">
    </div>
    <div class="form-group">
      <label for="name_fr_fr">name in French :</label>
      <input type="text" id="name_fr_fr" class="form-control" formControlName="name_fr_fr">
    </div>
    <div class="form-group">
      <label for="category">Media: </label>
  <select  class="form-control" formControlName="media">
    <option value="0">--All--</option>
    <option *ngFor="let media of medias" [value]="media.id">
      {{media.placeholder}}
    </option>
  </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
