<div class="placeblock"></div>
<div class="maingallery" *ngIf="artworkByArtistLoading else loading">
      <div class="container_gallery" >
      <div *ngFor="let article of artistGallery" class="galleryElement">
        <div class="{{article.category}} {{article.theme}} {{article.dynasty !== undefined ? article.dynasty[0].name : ''}}" [routerLink]="['/gallery/art',article.id]" routerLinkActive="on">
              <img src="{{imgSrc}}{{article.smallimage}}" class="widthCentpc">
              <div class="artResume"> 
                {{article.title}}
                <br>
                <span class="underlined" *ngIf="article.artist !== undefined ;else no_item">
                  {{article.artist[0].name}}
                </span>
                <br>
                <span *ngIf="article.dynasty !== undefined ;else no_item">
                  {{article.dynasty[0].name}}
                </span>
              </div>
              
          </div>
      </div>
    </div>
  </div>

  <ng-template #no_item>
    <span>unknown</span>
  </ng-template>

  <ng-template #loading>
  Loading Art work by artist...
  <div class="spinner-border text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
</ng-template>