<p>Import Dynasty .csv file</p>



<input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" /> <span *ngIf="!fileValid">{{errorWarning}}</span>
<table class="minimalistBlack" *ngIf="csvToArray.length > 0">    
        <thead>    
          <tr> 
            <th>id </th>
            <th>name_en_gb </th>  
            <th>name_fr_fr </th> 
            <th>name_cn_cn </th>     
            <th>birth </th>    
            <th>death </th>    
            <th>description_en_gb </th>  
            <th>description_fr_fr </th> 
            <th>description_cn_cn </th> 
            <th>introduction_en_gb </th>   
            <th>introduction_fr_fr </th> 
            <th>introduction_cn_cn </th> 
          </tr>    
        </thead>    
        <tbody>    
          <tr *ngFor="let dynasty of csvToArray;let i = index;"> 
            <td> <span>{{dynasty.id}}</span> </td>   
            <td> <span>{{dynasty.name_en_gb}}</span> </td>    
            <td> <span>{{dynasty.name_fr_fr}}</span> </td>    
            <td> <span>{{dynasty.name_cn_cn}}</span> </td>    
            <td> <span>{{dynasty.birth}}</span> </td>    
            <td> <span>{{dynasty.death}}</span> </td>    
            <td> <span>{{dynasty.description_en_gb}}</span> </td> 
            <td> <span>{{dynasty.description_fr_fr}}</span> </td> 
            <td> <span>{{dynasty.description_cn_cn}}</span> </td> 
            <td> <span>{{dynasty.introduction_en_gb}}</span> </td>    
            <td> <span>{{dynasty.introduction_fr_fr}}</span> </td> 
            <td> <span>{{dynasty.introduction_cn_cn}}</span> </td> 
          </tr>    
        </tbody>    
</table>  

<button type="submit" class="btn btn-primary"(click)="onImportFile()" *ngIf="fileValid">Import File</button>

{{progress}}

