
<div  class= "displayarticle" >
 <ul >
        <li>
          <lib-ngx-image-zoom
    [thumbImage]= myThumbnail
    [fullImage]=myFullresImage
    [magnification]="2"
    [enableScrollZoom]="true"
    [enableLens]="true"
    [lensWidth]="200"
  
></lib-ngx-image-zoom>
<div id="openseadragon1" style="width: 800px; height: 600px;"></div>

        	
      	</li>
      	
<li>    		
      		{{title}}       		
      	</li>
      	<li> by <b [routerLink] = "['/artist_profile']" [queryParams]="{artist:artist[0].id}">{{artist[0].name}}</b></li>
      	<li>{{description}} </li>
      </ul>


</div>