.displayarticle {
	text-align : center;
}

.displayarticle ul{
	list-style : none;
}


.displayarticle img {
  max-width:800px;
  max-height:800px;
  width: auto;
  height: auto;
}

#openseadragon1 {
  margin: 0 auto;
  margin-top: 100px;
}