
<div class="container" >
  <div *ngIf="artworkLoading else loading">
  <div class= "displayarticle">
    <div class="menuArea">
      
      <ul class="displayheadmenu">
         <li  (click)="toggKeyFacts();">
           Key facts
         </li>
         <li  (click)="toggDescription();">
           Description
         </li>
         <li>
          
         
        </li>
       </ul>
       <div id="toolbarDiv" class="toolbar" style="position: relative;"></div>
      </div>
     
       <!--       <lib-ngx-image-zoom
       [thumbImage]= myThumbnail
       [fullImage]=myFullresImage
       [magnification]="2"
       [enableScrollZoom]="true"
       [enableLens]="true"
       [lensWidth]="200"
     
   ></lib-ngx-image-zoom>

   --> 

   <div id="openseadragon1" style="width: 1200px; height: 1200px;">
    <div class="keyFactContainer">
     <div class="keyFacts" [ngClass]="displayKeyFacts? 'enabled' : 'disabled'" >
        <table>
          <tr>
            <td>
              Full title
            </td>
            <td>
              <span *ngIf="art['title'] !== undefined ;else no_item">
                {{title}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              Artist Name
            </td>
            <td>
              <span *ngIf="art['artist'] !== undefined ;else no_item">
                {{art['artist'][0].name}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              Artist dates
            </td>
            <td>
              <span  *ngIf="art['title'] !== undefined ;else no_item">
              {{art['title']}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              Dynasty
            </td>
            <td>
               <span  *ngIf="art['dynasty'] !== undefined ;else no_item">
                {{art['dynasty'][0].name}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              Medium and Support
            </td>
            <td>
              <span  *ngIf="art['material'] !== undefined ;else no_item">
              {{art['material']}}
            </span>
            </td>
          </tr>
          <tr>
            <td>
              Measurement (cm) H x W
            </td>
            <td>
              <span  *ngIf="art['size'] !== undefined ;else no_item">
              {{art['size']}}
            </span>
            </td>
          </tr>
         </table>

         <div class="closeButton" (click)="toggKeyFacts();">
          X
         </div>
    </div>
  </div>

  <div class="keyFactContainer">
      <div class="keyFacts" [ngClass]="displayDescription? 'enabled' : 'disabled'">
      
        <div class="artDescription">
          <span  *ngIf="art['description'] !== undefined ;else no_item">
          {{art['description']}}
        </span>
        </div>
        <div class="closeButton" (click)="toggDescription();">
            X
        </div>
      </div>
    </div>
   
     <ul class="pictureMainInfo">
       <li>
       <span  *ngIf="art['title'] !== undefined ;else no_item">    		
          {{art['title']}}     
          </span>  		
       </li>
       <li  [routerLink] = "['/artist_profile']" [queryParams]="{artist:art['artist'][0].id}" class="underlined"> 
          <span  *ngIf="art['artist'] !== undefined ;else no_item">   
          {{art['artist'][0].name}}
        </span>
        </li>
       <li class="dynastySize">
        <span  *ngIf="art['dynasty'] !== undefined ;else no_item">  
          {{art['dynasty']}} 
        </span>
       </li>
      </ul>   	
   
   </div>
   
             
   </div>


<h2>More paintings by {{art['artist'][0].name}} </h2>

<app-display-artist-gallery [artistId]="art['artist'][0].id"></app-display-artist-gallery>

</div>
 </div>
<ng-template #loading>
  Loading art work...
  <div class="spinner-border text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
</ng-template>

<ng-template #no_item>
    <span>unknown</span>
  </ng-template>
