.container {
  margin: 80px auto;
}

.displayarticle {
	text-align : center;
}

.displayarticle ul{
	list-style : none;
}


.displayarticle img {
  max-width:800px;
  max-height:800px;
  width: auto;
  height: auto;
}

#openseadragon1 {
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}

.pictureMainInfo {
  position: absolute;
  top: 500px;
  left: 50px;
  color: white;
}

.displayheadmenu {
  display: flex;
  flex-direction: row;
}

.displayheadmenu li {
  margin: 10px 10px;
  font-weight: bold;
}