<div class="bannerTop">
    <h1 class="contactTitle">About Chinese Fine Art Gallery</h1>
</div>

<div class="container">
    <h2>Our values</h2>

    <div class="contacticons">
        <ul class="iconBox">
            <li>
                Present Chinese art
            </li>
            <li>
                For All
            </li>
            <li>
                For free
            </li>
            <li>
                Anytime Anywhere
            </li>
        </ul>
    </div>
    <div class="contactText">
        <h2>
            How it all started
        </h2>
        <p>
            Text Text
        </p>
    </div>
</div>


