<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{entity}}</h2>
      <table>
      	<tr>
      		<th *ngFor = "let column of headers">     		
      {{column}}
      </th>
      	</tr>
      	<tr *ngFor="let discount of discounts">
      		<td >
      			{{discount.placeholder}}     			
      		</td>
          <td >
            {{discount.discountrate}}          
          </td>
      		<td>    
      			{{discount.name_en_gb}} 			
      		</td>
          <td>    
            {{discount.name_fr_fr}}      
          </td>
      		<td>
      			<button (click) = "edit(discount.placeholder,discount.discountrate, discount.name_en_gb, discount.name_fr_fr)">edit</button>
      		</td>
      	</tr>
      </table>      
    </div>
  </div>
</div>
<button (click) = "add()">add new discount</button>
<div class="col-sm-8 col-sm-offset-2" *ngIf="editing">
  <form [formGroup]="discountForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="placeholder">placeholder</label>
      <input type="text" id="placeholder" class="form-control" formControlName="placeholder">
    </div>
    <div class="form-group">
      <label for="discountrate">discountrate</label>
      <input type="text" id="discountrate" class="form-control" formControlName="discountrate">
    </div>
    <div class="form-group">
      <label for="name_en_gb">English translation :</label>
      <input type="text" id="name_en_gb" class="form-control" formControlName="name_en_gb">
    </div>
    <div class="form-group">
      <label for="name_fr_fr">French translation :</label>
      <input type="text" id="name_fr_fr" class="form-control" formControlName="name_fr_fr">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
