.bannerTop {
    background-image: url('../../assets/img/contact/bannercontact.png');
    height: 565px;
    position: relative;
  }

  .contactTitle {
      position: absolute;
      left: 87px;
      top: 312px;
      color: white;
  }

  .container

  .iconBox {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
  }

  .container {
      margin: 40px auto;
  }

  .contacticons {
      margin : 40px auto;
  }