
<div class="placeblock"></div>
<div class="maingallery">
  <h1>Chinese fine art</h1>

  <div>
    <h2>
      Search the collection
    </h2>
    <input type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search">
  </div>
  <input type="hidden" [(ngModel)]="filterTerms" name="filterTerms" >
  <div>
    <h2>
      Filter by:
    </h2>
      Dynasty 
      <ul class="filterList">
        <li>
          <input type="checkbox" ng-checked="all" value="qing" (change)="onCheckChange($event)">Qing<br>
        </li>
        <li>
          <input type="checkbox" ng-checked="all" value="song"  (change)="onCheckChange($event)">song<br>
        </li>
        <li>
          <input type="checkbox" ng-checked="all" value="ming"  (change)="onCheckChange($event)">Ming
        </li>
      </ul>
      
      
      
      Theme
      <ul class="filterList">
        <li>
          <input type="checkbox" ng-checked="all" value="Landscape" (change)="onCheckChange($event)">Landscape<br>
        </li>
        <li>
          <input type="checkbox" ng-checked="all" value="Figure" (change)="onCheckChange($event)">Figure<br>
        </li>
        <li>
          <input type="checkbox" ng-checked="all" value="Bird-and-flower" (change)="onCheckChange($event)">Bird-and-flower<br>
        </li>
        <li>
          <input type="checkbox" ng-checked="all" value="Daoist and Budhist images" (change)="onCheckChange($event)">Daoist and Budhist images<br>
        </li>
      </ul>
      
  </div>
<!--<ngb-carousel 
interval="6000"
>

  <ng-template ngbSlide *ngFor="let slide of slides">
    <div class="picsum-img-wrapper">
      <img src="{{imgSrc}}{{slide.desktop}}" alt="{{slide.title}}">
    </div>
    <div class="carousel-caption">
      <h3>{{slide.title}}</h3>
      <p>{{slide.subtitle}}</p>
    </div>
  </ng-template>
</ngb-carousel>
-->

<!--<div class= "gallery">
<div  class= "row" *ngFor="let article of gallery">

  <div class="column filter {{article.theme}} {{article.category}} " >

      <div class="content" 
      (click) = "displayArticle(article.title, article.artist, article.dynasty, article.bigimage, article.en_gb)">
        <div class="gallery_content">
                <img src="{{imgSrc}}{{article.smallimage}}" class="img-responsive">
                <h4>{{article.title}}</h4>
        </div>
      </div>
    </div>


</div>
</div>
-->
<!--
  <div class="container_gallery" >
    <div *ngFor="let article of gallery">
      <div class="item_gallery column filter {{article.theme}} {{article.category}}" >
        <div class="content" (click) = "displayArticle(article.title, article.artist, article.dynasty, article.bigimage, article.en_gb)"></div>
          <div class="gallery_content">
            <img src="{{imgSrc}}{{article.smallimage}}" class="img-responsive">
            <p>{{article.title}}</p>
          </div>
        </div>
      </div>
    </div>-->
    <div class="container_gallery" >
      <div *ngFor="let article of gallery | filter:searchTerm:filterTerms" class="galleryElement">
        <div class="{{article.category}} {{article.theme}} {{article.dynasty !== undefined ? article.dynasty[0].name : ''}}" (click) = "displayArticle(article.title, article.artist, article.dynasty, article.bigimage, article.en_gb, article.material, article.size)">
              <img src="{{imgSrc}}{{article.smallimage}}" class="widthCentpc">
              <div class="artResume"> 
                {{article.title}}
                <br>
                <span class="underlined" *ngIf="article.artist !== undefined ;else no_item">
                  {{article.artist[0].name}}
                </span>
                <br>
                <span *ngIf="article.dynasty !== undefined ;else no_item">
                  {{article.dynasty[0].name}}
                </span>
              </div>
              
          </div>
      </div>
    </div>
  </div>

  <ng-template #no_item>
    <span>unknown</span>
  </ng-template>