<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{entity}}</h2>
      <table *ngIf="artistsLoaded else loading">
      	<tr>
      		<th *ngFor = "let column of headers">     		
      {{column}}
      </th>
      	</tr>
      	<tr *ngFor="let artist of artists">
      		<td >
      			{{artist.name}}     			
      		</td>
          <td >
            {{artist.name_cn_cn}}           
          </td>
      		<td>    
      			{{artist.birth}} 			
      		</td>
      		<td>     			
      			{{artist.death}}
      		</td>
      		<td>     			
      			{{artist.description_en_gb}}
      		</td>
      		<td>     			
      			{{artist.description_fr_fr}}
      		</td>
          <td>          
            {{artist.description_cn_cn}}
          </td>
      		<td> 
      		<ul>
      		<li *ngFor="let dyn of artist.dynasty" >{{dyn.dyn}}</li> 
      	</ul>
      		</td>

      		<td>
      			<button (click) = "edit(
              artist.id, 
              artist.name,
              artist.name_cn_cn, 
              artist.birth,
              artist.death,
              artist.introduction_en_gb,
              artist.introduction_fr_fr, 
              artist.introduction_cn_cn,
              artist.description_en_gb,
              artist.description_fr_fr, 
              artist.description_cn_cn,
              artist.dynasty,
              artist.small,
              artist.big
              )">edit</button>
      		</td>
      	</tr>
      </table>      
    </div>
  </div>
</div>
<button (click) = "add()">add new artist</button>
<div class="col-sm-8 col-sm-offset-2" *ngIf="edition">
  <form [formGroup]="artistForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group" hidden>
      <label for="id">id</label>
      <input type="text" id="id" class="form-control" formControlName="id" >
    </div>
    <div class="form-group">
      <label for="name">name</label>
      <input type="text" id="name" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
      <label for="name_cn_cn">name in chinese</label>
      <input type="text" id="name_cn_cn" class="form-control" formControlName="name_cn_cn">
    </div>
    <div class="form-group">
      <label for="birth">date of birth</label>
      <input type="text" id="birth" class="form-control" formControlName="birth">
    </div>
    <div class="form-group">
      <label for="death">date of death</label>
      <input type="text" id="death" class="form-control" formControlName="death">
    </div>
     <div class="form-group">
      <label for="introduction_en_gb">Introduction in English :</label>
      <textarea type="text" id="introduction_en_gb" class="form-control" formControlName="introduction_en_gb"></textarea>
    </div>
    <div class="form-group">
      <label for="introduction_fr_fr">Introduction in French :</label>
      <textarea type="text" id="introduction_fr_fr" class="form-control" formControlName="introduction_fr_fr"></textarea>
    </div>
    <div class="form-group">
      <label for="introduction_cn_cn">Introduction in Chinese :</label>
      <textarea type="text" id="introduction_cn_cn" class="form-control" formControlName="introduction_cn_cn"></textarea>
    </div>
    <div class="form-group">
      <label for="description_en_gb">Biography in English :</label>
      <textarea type="text" id="description_en_gb" class="form-control" formControlName="description_en_gb"></textarea>
    </div>
    <div class="form-group">
      <label for="description_fr_fr">Biography in French :</label>
      <textarea type="text" id="description_fr_fr" class="form-control" formControlName="description_fr_fr"></textarea>
    </div>
    <div class="form-group">
      <label for="description_cn_cn">Biography in Chinese :</label>
      <textarea type="text" id="description_cn_cn" class="form-control" formControlName="description_cn_cn"></textarea>
    </div>
    <div> Dynasty of activity</div>

  <div *ngFor="let order of dynastyFormArray.controls; let i = index">
      <label formArrayName="dynasty">
    <input type="checkbox" [formControlName]="i">
    {{dynastyList[i].placeholder}}
      </label>
</div>
<h3>Upload artist introduction picture</h3>
    
    <div class="form-group">
      <p>Existing File : <b>{{smallImageName}}</b></p> 
        <label for="file">File :</label>
        <input 
            formControlName="smallImage"
            id="smallImage" 
            type="file" 
            class="form-control"
            (change)="smallImageChange($event)">
        <div *ngIf="f.smallImage.touched && f.smallImage.invalid" class="alert alert-danger">
            <div *ngIf="f.smallImage.errors.required">File is required.</div>
        </div>
    </div>
    
    <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">

<h3>Upload artist identity picture</h3>
    
    <div class="form-group">
      <p>Existing File :<b>{{bigImageName}}</b></p> 
        <label for="file">File :</label>
        <input 
            formControlName="bigImage"
            id="bigImage" 
            type="file" 
            class="form-control"
            (change)="bigImageChange($event)">
        <div *ngIf="f.bigImage.touched && f.bigImage.invalid" class="alert alert-danger">
            <div *ngIf="f.bigImage.errors.required">File is required.</div>
        </div>
    </div>
    <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<ng-template #loading>
  Loading Artists...
  <div class="spinner-border text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
</ng-template>