<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-import-articles></app-import-articles>
      <h2>{{entity}}</h2>
      <table *ngIf="articlesLoading else loading">
      	<tr>
      		<th *ngFor = "let column of headers">     		
      {{column}}
      </th>
      	</tr>
      	<tr *ngFor="let article of articles">
          <td >
            <div class="o-switch btn-group" data-toggle="buttons" role="group">
              <label class="btn btn-secondary active">
                <input type="radio" name="{{article.id}}highlight" id="1" value = "1" autocomplete="on" [checked]="article.highlight == '1'"  (change) = "highlight($event)"> higlighted
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="{{article.id}}highlight" id="3" value = "3" autocomplete="on" [checked]="article.highlight == '3'" (change) = "highlight($event)"> désactivé 
              </label>
            </div>   			
      		</td>
      		<td >
      			{{article.title}}     			
      		</td>
      		<td>    
      			{{article.birth}} 			
      		</td>
      		<td>     			
      			{{article.artist[0].name}}
      		</td>
      		<td>
      			{{article.dynasty[0].name}}
      		</td>
      		<td> 
      			{{article.status}}
      		</td>
      		<td>
      			<button (click) = "edit(
            article.id,
            article.title,
            article.title_en_gb, 
            article.title_fr_fr, 
            article.title_cn_cn,
            article.birth,
            article.price,
            article.size,
            article.product[0].id,
            article.material[0].id,
            article.discount[0].id,
            article.artist[0].id,
            article.dynasty[0].id,
            article.form[0].id,
            article.museum[0].id,
            article.description_en_gb,
            article.description_fr_fr,
            article.smallimage,
            article.bigimage,
            article.highlight,
            article.theme[0].id
            )">edit</button>
      		</td>
          <td>
            <div class="o-switch btn-group" data-toggle="buttons" role="group">
  <label class="btn btn-secondary active">
    <input type="radio" name="{{article.id}}" id="1" value = "1" autocomplete="on" [checked]="article.status == '1'"  (change) = "status($event)"> Actif
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="{{article.id}}" id="3" value = "3" autocomplete="on" [checked]="article.status == '3'" (change) = "status($event)"> désactivé
  </label>
</div>
          </td>
      	</tr>
      </table>      
    </div>
  </div>
</div>
<button (click) = "add()">add new article</button>
<div *ngIf="edition">
<div class="col-sm-8 col-sm-offset-2" *ngIf="formLoaded else editionFormloading">
  <form [formGroup]="articleForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group" hidden>
      <label for="id">id</label>
      <input type="text" id="id" class="form-control" formControlName="id" >
    </div>
    <div class="form-group">
      <label for="highlight">highlight</label>
      <input type="text" id="highlight" class="form-control" formControlName="highlight" >
      <input value="" type="checkbox" checked="">
    </div>
    <div class="form-group">
      <label for="title">title</label>
      <input type="text" id="title" class="form-control" formControlName="title" >
    </div>
    <div class="form-group">
      <label for="title_en_gb">Title in English</label>
      <input type="text" id="title_en_gb" class="form-control" formControlName="title_en_gb">
    </div>
    <div class="form-group">
      <label for="title_fr_fr">Title in French</label>
      <input type="text" id="title_fr_fr" class="form-control" formControlName="title_fr_fr">
    </div>
    <div class="form-group">
      <label for="title_cn_cn">Title in Chinese</label>
      <input type="text" id="title_cn_cn" class="form-control" formControlName="title_cn_cn">
    </div>
    <div class="form-group">
      <label for="birth">Date of creation</label>
      <input type="text" id="birth" class="form-control" formControlName="birth">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" id="price" class="form-control" formControlName="price">
    </div>
    <div class="form-group">
      <label for="size">Size</label>
      <input type="text" id="size" class="form-control" formControlName="size">
    </div>
    <div class="form-group">
      <label for="product">Type of product: </label>
  <select  class="form-control" formControlName="product">
    <option value="0">--All--</option>
    <option *ngFor="let product of productList" [value]="product.id">
      {{product.placeholder}}
    </option>
  </select>
    </div>
    <div class="form-group">
      <label for="form">Form of the artwork: </label>
  <select  class="form-control" formControlName="form">
    <option value="0">--All--</option>
    <option *ngFor="let form of formList" [value]="form.id">
      {{form.placeholder}}
    </option>
  </select>
    </div>
    <div class="form-group">
      <label for="material">Material: </label>
  <select  class="form-control" formControlName="material">
    <option value="0">--All--</option>
    <option *ngFor="let material of materialList" [value]="material.id">
      {{material.placeholder}}
    </option>
  </select>
    </div>
     <div class="form-group">
      <label for="discount">Discount: </label>
  <select  class="form-control" formControlName="discount">
    <option value="0">--All--</option>
    <option *ngFor="let discount of discountList" [value]="discount.id">
      {{discount.placeholder}}
    </option>
  </select>
    </div>
<!--
     <div class="form-group">
      <label for="category">Category: </label>
  <select class="form-control" formControlName="category" (change)="categorychoice($event)">
    <option value="0">--All--</option>
    <option *ngFor="let category of categoryList" [value]="category.placeholder">
      {{category.placeholder}}
    </option>
  </select>
    </div>
  -->
    <div class="form-group">
      <label for="theme">Theme of the artwork: </label>
  <select  class="form-control" formControlName="theme">
    <option value="0">--All--</option>
    <option *ngFor="let theme of themeList" [value]="theme.id">
      {{theme.placeholder}}
    </option>
  </select>
    </div>

    <!--
    <div class="form-group" *ngIf="choiceofcategory == 'painting'">
      <div *ngFor="let order of themesFormArray.controls; let i = index">
      <label formArrayName="themes" *ngIf="themeList[i].category == 'painting'">
    <input type="checkbox" [formControlName]="i" *ngIf="themeList[i].category == 'painting'">
    {{themeList[i].placeholder}}
      </label>
</div>
    </div>
    <ng-template [ngIf]="themeList" [ngIfElse]="loading">
 <div class="hero-list">
 </div>
</ng-template>
    <ng-template #loading>
 <div>Loading...</div>
</ng-template>
    <div class="form-group" *ngIf="choiceofcategory == 'calligraphy'">
      <div *ngFor="let order of themesFormArray.controls; let i = index">
      <label formArrayName="themes" *ngIf="themeList[i].category == 'calligraphy'">
    <input type="checkbox" [formControlName]="i" *ngIf="themeList[i].category == 'calligraphy'">
    {{themeList[i].placeholder}}
  </label>
</div>
    </div>
  -->
    <div class="form-group">
      <label for="artist">Artist: </label>
  <select class="form-control" formControlName="artist">
    <option value="0">--All--</option>
    <option *ngFor="let artist of artistList" [value]="artist.id">
      {{artist.placeholder}}
    </option>
  </select>
    </div>
    <div class="form-group">
      <label for="dynasty">Dynasty: </label>
  <select class="form-control" formControlName="dynasty">
    <option value="0">--All--</option>
    <option *ngFor="let dynasty of dynastyList" [value]="dynasty.id">
      {{dynasty.placeholder}}
    </option>
  </select>
    </div>
    <div class="form-group">
      <label for="museum">Museum: </label>
  <select  class="form-control" formControlName="museum">
    <option value="0">--All--</option>
    <option *ngFor="let museum of museumList" [value]="museum.id">
      {{museum.placeholder}}
    </option>
  </select>
    </div>
    <div class="form-group">
      <label for="description_en_gb">English description:</label>
      <textarea type="text" id="description_en_gb" class="form-control" formControlName="description_en_gb"> </textarea>
    </div>
    <div class="form-group">
      <label for="description_fr_fr">French description:</label>
      <textarea type="text" id="description_fr_fr" class="form-control" formControlName="description_fr_fr"></textarea>
    </div>

  <!-- <div>
  <h3>Sizes</h3> <button  type="button" (click)="addSize()">Add size</button>

  <div formArrayName="sizes" class="form-group" *ngFor="let size of articleForm.get('sizes').controls; let i=index">
    <!-- The repeated alias template -->
  <!--  <div [formGroupName]="i"> 
    <label>
      length:{{index}}
      <input type="text" class="form-control" formControlName="length">
    </label>
    <label>
      width:{{index}}
      <input type="text" class="form-control" formControlName="width">
    </label>
    <label>
      <input type="text" class="form-control" formControlName="sizeId" hidden>
    </label>
    <label for="sizecategory">Size category: </label>
  <select  class="form-control" formControlName="sizecategoryId">
    <option value="0">--All--</option>
    <option *ngFor="let sizecategory of sizecategoryList" [value]="sizecategory.id">
      {{sizecategory.placeholder}}
    </option>
  </select>
</div>
  </div>
</div>-->
<h3>Upload article small picture</h3>
    
    <div class="form-group">
      <p>Existing File : <b>{{smallImageName}}</b></p> 
        <label for="file">File :</label>
        <input 
            formControlName="smallImage"
            id="smallImage" 
            type="file" 
            class="form-control"
            (change)="smallImageChange($event)">
        <div *ngIf="f.smallImage.touched && f.smallImage.invalid" class="alert alert-danger">
            <div *ngIf="f.smallImage.errors.required">File is required.</div>
        </div>
    </div>
    
    <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">

<h3>Upload article big picture</h3>
    
    <div class="form-group">
      <p>Existing File :<b>{{bigImageName}}</b></p> 
        <label for="file">File :</label>
        <input 
            formControlName="bigImage"
            id="bigImage" 
            type="file" 
            class="form-control"
            (change)="bigImageChange($event)">
        <div *ngIf="f.bigImage.touched && f.bigImage.invalid" class="alert alert-danger">
            <div *ngIf="f.bigImage.errors.required">File is required.</div>
        </div>
    </div>
    <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
<ng-template #loading>
  Loading Articles...
  <div class="spinner-border text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
</ng-template>

<ng-template #editionFormloading>
  Loading edition form...
  <div class="spinner-border text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
</ng-template>
