<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{entity}}</h2>
      <table>
      	<tr>
      		<th *ngFor = "let column of headers">     		
      {{column}}
      </th>
      	</tr>
      	<tr *ngFor="let dynasty of dynastys">
      		<td >
      			{{dynasty.name}}     			
      		</td>
      		<td>    
      			{{dynasty.birth}} 			
      		</td>
      		<td>     			
      			{{dynasty.death}}
      		</td>
      		<td>     			
      			{{dynasty.description_en_gb}}
      		</td>
      		<td>     			
      			{{dynasty.description_fr_fr}}
      		</td>
          <td>          
            {{dynasty.description_cn_cn}}
          </td>
      		<td>
      			<button (click) = "edit(dynasty.name,dynasty.name_cn_cn, dynasty.birth,dynasty.death,dynasty.description_en_gb,dynasty.description_fr_fr,dynasty.description_cn_cn)">edit</button>
      		</td>
      	</tr>
      </table>      
    </div>
  </div>
</div>
<button (click) = "add()">add new dynasty</button>
<div class="col-sm-8 col-sm-offset-2" *ngIf="edition">
  <form [formGroup]="dynastyForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="name">name</label>
      <input type="text" id="name" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
      <label for="name_cn_cn">namein chinese</label>
      <input type="text" id="name_cn_cn" class="form-control" formControlName="name_cn_cn">
    </div>
    <div class="form-group">
      <label for="birth">birth</label>
      <input type="text" id="birth" class="form-control" formControlName="birth">
    </div>
    <div class="form-group">
      <label for="death">death</label>
      <input type="text" id="death" class="form-control" formControlName="death">
    </div>
    <div class="form-group">
      <label for="description_en_gb">Presentation in english</label>
      <input type="text" id="description_en_gb" class="form-control" formControlName="description_en_gb">
    </div>
    <div class="form-group">
      <label for="description_fr_fr">Presentation in french</label>
      <input type="text" id="description_fr_fr" class="form-control" formControlName="description_fr_fr">
    </div>
    <div class="form-group">
      <label for="description_cn_cn">Presentation in chinese</label>
      <input type="text" id="description_cn_cn" class="form-control" formControlName="description_cn_cn">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>