<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{entity}}</h2>
      <table>
      	<tr>
      		<th *ngFor = "let column of headers">     		
      {{column}}
      </th>
      	</tr>
      	<tr *ngFor="let dynasty of dynastys">
      		<td >
      			{{dynasty.name}}     			
      		</td>
      		<td>    
      			{{dynasty.birth}} 			
      		</td>
      		<td>     			
      			{{dynasty.death}}
      		</td>
      		<td>     			
      			{{dynasty.en_gb}}
      		</td>
      		<td>     			
      			{{dynasty.fr_fr}}
      		</td>
      		<td>
      			<button (click) = "edit(dynasty.name,dynasty.birth,dynasty.death,dynasty.en_gb,dynasty.fr_fr)">edit</button>
      		</td>
      	</tr>
      </table>      
    </div>
  </div>
</div>
<button (click) = "add()">add new dynasty</button>
<div class="col-sm-8 col-sm-offset-2" *ngIf="edition">
  <form [formGroup]="dynastyForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="name">name</label>
      <input type="text" id="name" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
      <label for="birth">birth</label>
      <input type="text" id="birth" class="form-control" formControlName="birth">
    </div>
    <div class="form-group">
      <label for="death">death</label>
      <input type="text" id="death" class="form-control" formControlName="death">
    </div>
    <div class="form-group">
      <label for="en_gb">en_gb</label>
      <input type="text" id="en_gb" class="form-control" formControlName="en_gb">
    </div>
    <div class="form-group">
      <label for="fr_fr">fr_fr</label>
      <input type="text" id="fr_fr" class="form-control" formControlName="fr_fr">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>