

<div class="navigation">
<nav class="navbar navbar-dark navBarColor">
	<button class="navbar-toggler" type="button"  aria-expanded="false" aria-label="Toggle navigation" (click)="togg();">
		<span class="navbar-toggler-icon"> </span>
	</button>
	<span class="textcolorwhite"> Chinese Fine Art Gallery</span>
	 <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
</nav>
	<div class="nav-item" id="" [className]="displayMenu? 'enabled' : 'disabled'" >
		<ul >
			<li class="nav-item active" routerLinkActive="active">
				<a  routerLink="home">{{home}} <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active" routerLinkActive="active">
				<a  routerLink="history">{{history}} <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="contact">{{contact}}</a>
			</li>
			<li  *ngIf="showAdminBoard">
						<button ngbDropdownItem routerLink="edit_article">article</button>
			</li>
			<li  *ngIf="showAdminBoard">
						<button ngbDropdownItem routerLink="edit_artist">artist</button>
			</li>
			<li  *ngIf="showAdminBoard">
						<button ngbDropdownItem routerLink="edit_product">product</button>
			</li>
			<li  *ngIf="showAdminBoard">
						<button ngbDropdownItem routerLink="edit_discount">discount</button>
			</li>
			<li  *ngIf="showAdminBoard">
						<button ngbDropdownItem routerLink="edit_dynasty">dynasty</button>
			</li>
			<li  *ngIf="showAdminBoard">
						<button ngbDropdownItem routerLink="edit_material">material</button>
			</li>
			<li  *ngIf="showAdminBoard">
				<button ngbDropdownItem routerLink="edit_form">material</button>
	</li>
		</ul>
		<ul>
			<li  *ngIf="showAdminBoard">
						<button ngbDropdownItem routerLink="edit_navigation">navigation</button>
			</li>
			<li  *ngIf="showAdminBoard">
						<button ngbDropdownItem routerLink="edit_theme">theme</button>
			</li>
			<li  *ngIf="showAdminBoard">
						<button ngbDropdownItem routerLink="edit_sizecategory">size category</button>
			</li>
			<li  *ngIf="showAdminBoard">
						<button ngbDropdownItem routerLink="edit_category">category</button>
			</li>
			<li  *ngIf="showAdminBoard">
						<button ngbDropdownItem routerLink="edit_museum">museum</button>
			</li>
			<li  *ngIf="showAdminBoard">
						<button ngbDropdownItem routerLink="edit_slideshow">slideshow</button>
			</li> 
		</ul>
		
	</div>

</div>
<div class = "placeholder"></div>