/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

ngb-carousel {
    max-width: 700px;
    margin: 50px auto;
}

ngb-carousel img {
    width: 100%;
    outline: none;
}

ngb-carousel {
    width: inherit;
    height: inherit;
}

.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    /*transition: opacity 3s ease-in-out, visibility 3s;*/ 
    /*animation: fadeInAndOut ease-in-out 6s;*/
    z-index: -1;
}

.carousel-item.active{
    /*opacity: 1;*/
    visibility: visible;
    z-index: 10;
    animation: fadeInAndOut ease-in-out 6s;
    animation-iteration-count:infinite;
}

.carousel-control-prev {
     z-index: 20;
}


.carousel-control-next {
     z-index: 20;
}

.carousel-indicators{
    z-index: 20;
}

@keyframes fadeInAndOut {
  0% {
    opacity:0;
  }
  30% {
  opacity:1;

  }
  70% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeInAndOut {
  0% {
    opacity:0;
  }
  30% {
  opacity:1;

  }
  70% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeInAndOut {
  0% {
    opacity:0;
  }
  30% {
  opacity:1;

  }
  70% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeInAndOut {
  0% {
    opacity:0;
  }
  30% {
  opacity:1;

  }
  70% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeInAndOut {
  0% {
    opacity:0;
  }
  30% {
  opacity:1;

  }
  70% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
  }

  .container_gallery {
 /* z-index : -100;*/
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  /* Your container needs a fixed height, and it 
   * needs to be taller than your tallest column. */
  height: 960px;
  
  /* Optional */
  background-color: #f7f7f7;
  border-radius: 3px;
  padding: 20px;
  width: 90%;
  margin: 40px auto;
  counter-reset: items;
}

.item_gallery {
  width: 24%;
  /* Optional */
  position: relative;
  margin-bottom: 2%;
  border-radius: 3px;
  /*background-color: #a1cbfa;
  border: 1px solid #4290e2;
  box-shadow: 0 2px 2px rgba(0,90,250,0.05),
    0 4px 4px rgba(0,90,250,0.05),
    0 8px 8px rgba(0,90,250,0.05),
    0 16px 16px rgba(0,90,250,0.05);
  color: #fff;
  padding: 15px;
  box-sizing: border-box;*/
}

 /* Just to print out numbers 
div.item_gallery::before {
  counter-increment: items;
  content: counter(items);
}*/

/* Re-order items into 3 rows */
.item_gallery:nth-of-type(4n+1) { order: 1; }
.item_gallery:nth-of-type(4n+2) { order: 2; }
.item_gallery:nth-of-type(4n+3) { order: 3; }
.item_gallery:nth-of-type(4n)   { order: 4; }

/* Force new columns */
.break {
  flex-basis: 100%;
  width: 0;
  /*border: 1px solid #ddd;*/
  margin: 0;
  content: "";
  padding: 0;
}

.img-responsive {
  max-width: 200px;
}

.textured-background {
  background-image: url('assets/img/homepage/texture.jpg');
}

