/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

ngb-carousel {
    max-width: 700px;
    margin: 50px auto;
}

ngb-carousel img {
    width: 100%;
    outline: none;
}

ngb-carousel {
    width: inherit;
    height: inherit;
}

.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    /*transition: opacity 3s ease-in-out, visibility 3s;*/ 
    /*animation: fadeInAndOut ease-in-out 6s;*/
    z-index: -1;
}

.carousel-item.active{
    /*opacity: 1;*/
    visibility: visible;
    z-index: 10;
    animation: fadeInAndOut ease-in-out 6s;
    animation-iteration-count:infinite;
}

.carousel-control-prev {
     z-index: 20;
}


.carousel-control-next {
     z-index: 20;
}

.carousel-indicators{
    z-index: 20;
}

@keyframes fadeInAndOut {
  0% {
    opacity:0;
  }
  30% {
  opacity:1;

  }
  70% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeInAndOut {
  0% {
    opacity:0;
  }
  30% {
  opacity:1;

  }
  70% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeInAndOut {
  0% {
    opacity:0;
  }
  30% {
  opacity:1;

  }
  70% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeInAndOut {
  0% {
    opacity:0;
  }
  30% {
  opacity:1;

  }
  70% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeInAndOut {
  0% {
    opacity:0;
  }
  30% {
  opacity:1;

  }
  70% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
  }

