
  <div class="row">
    <div class="col-xs-12">
      <h2>{{entity}}</h2>
      <table>
      	<tr>
      		<th *ngFor = "let column of headers">     		
      {{column}}
      </th>
      	</tr>
      	<tr *ngFor="let museum of museums">
      		<td >
      			{{museum.placeholder}}     			
      		</td>
      		<td>    
      			{{museum.name_en_gb}} 			
      		</td>
      		<td>     			
      			{{museum.name_fr_fr}}
      		</td>
      		<td>     			
      			{{museum.name_cn_cn}}
      		</td>
      		<td>     			
      			{{museum.link}}
      		</td>
      		<td>     			
      			{{museum.linkname}}
      		</td>

      		<td>
      			<button (click) = "edit(museum.id, museum.placeholder,museum.name_en_gb,museum.name_fr_fr, museum.name_cn_cn,museum.link,museum.linkname )">edit</button>
      		</td>
      	</tr>
      </table>      
    </div>
  </div>
<button (click) = "add()">add new museum</button>
<div class="col-sm-8 col-sm-offset-2" *ngIf="edition">
  <form [formGroup]="museumForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group" display:hidden>
      <label for="id">id</label>
      <input type="text" id="id" class="form-control" formControlName="id">
    </div>
    <div class="form-group">
      <label for="placeholder">placeholder</label>
      <input type="text" id="placeholder" class="form-control" formControlName="placeholder">
    </div>
    <div class="form-group">
      <label for="name_fr_fr">name in french</label>
      <input type="text" id="name_fr_fr" class="form-control" formControlName="name_fr_fr">
    </div>
    <div class="form-group">
      <label for="name_en_gb">name in english</label>
      <input type="text" id="name_en_gb" class="form-control" formControlName="name_en_gb">
    </div>
    <div class="form-group">
      <label for="name_cn_cn">name in chinese</label>
      <input type="text" id="name_cn_cn" class="form-control" formControlName="name_cn_cn">
    </div>
    <div class="form-group">
      <label for="link">link</label>
      <input type="text" id="link" class="form-control" formControlName="link">
    </div>
    <div class="form-group">
      <label for="linkname">linkname</label>
      <input type="text" id="linkname" class="form-control" formControlName="linkname">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>