
<!--
<ngb-carousel 
interval="6000"
>

  <ng-template ngbSlide *ngFor="let slide of slides">
    <div class="picsum-img-wrapper">
      <img src="{{imgSrc}}{{slide.desktop}}" alt="{{slide.title}}">
    </div>
    <div class="carousel-caption">
      <h3>{{slide.title}}</h3>
      <p>{{slide.subtitle}}</p>
    </div>
  </ng-template>
</ngb-carousel>
-->

<div class="bannerTop posAbsolute">
  <div class="sitePresentation">
    <h1>
      Welcome to CFAG <br>
      A virtual gallery dedicated to <br>
      Chinese fine art
    </h1>
    <a class="contactLink" [routerLink]="['/contact']">learn more</a>
  </div>
</div>

<div class = "homeMiddleMenu" >
  
  <div class= "link_image menu_image posRelative" [routerLink]="['/page_highlights']">
    <img src="{{imgHomePageURL}}menu-left.png" alt="highlights from the collection" class="widthCentpc">
    <div class="menu_text">highlights from the collection</div>
  </div>
  <div class=" link_image menu_image posRelative" [routerLink]="['/page_masters']">
    <img src="{{imgHomePageURL}}menu-middle.jpeg" alt="great masters" class="widthCentpc">
    <div class="menu_text">Exhibitions</div>
  </div>
  <div class=" link_image menu_image posRelative" 
  [routerLink] = "['/latest_story']" 
  [queryParams]="{ heading: 'story'}"
  >
    <img src="{{imgHomePageURL}}menu-right.jpeg" alt="latest stories" class="widthCentpc">
    <div class="menu_text">latest stories</div>
  </div>
</div>

<div class="posRelative exploreSection">
  <div class="siteExploration" [routerLink] = "['/page_gallery']" >
    <h2>
      Explore the collection
    </h2>
  </div>

</div>


  <div class="vignette">
    <div>
      <h2>
        Learning about Chinese painting
      </h2>
    </div>
    <div class="homeMiddleMenu">
      
      <div class=" link_image menu_sticker" 
      [routerLink] = "['/chinese_painting_history']"
      [queryParams]="{heading: 'history'}"
      >
          <img src="{{imgHomePageURL}}sticker-left.png" alt="chinese painting history" class="widthCentpc">
        <div class="sticker_text">
          Brief history
        </div>
      </div>
    
    
      <div class=" link_image menu_sticker" 
      [routerLink] = "['/great_masters']" 
      [queryParams]="{heading: 'learn'}">
        <img src="{{imgHomePageURL}}sticker-middle.jpeg" alt="learn about chinese great masters" class="widthCentpc">
        <div class="sticker_text">
       Great Masters
      </div>
      </div>
  
      <div class=" link_image menu_sticker" [routerLink] = "['/support_us']" [queryParams]="{heading: 'supportus'}">
        <img src="{{imgHomePageURL}}sticker-right.png" alt="support us" class="widthCentpc">
        <div class="sticker_text">
          Interesting facts
        </div>
      </div>
    
    </div>
  </div>
