
<!--
<ngb-carousel 
interval="6000"
>

  <ng-template ngbSlide *ngFor="let slide of slides">
    <div class="picsum-img-wrapper">
      <img src="{{imgSrc}}{{slide.desktop}}" alt="{{slide.title}}">
    </div>
    <div class="carousel-caption">
      <h3>{{slide.title}}</h3>
      <p>{{slide.subtitle}}</p>
    </div>
  </ng-template>
</ngb-carousel>
-->
<div id="topimage">
  <img src="{{imgHomePageURL}}banner.jpeg" alt="a picture by liu jingyun">
</div>
<div class = "textured-background" >
<div class="container main-menu ">
  <div class="row">
    <div class="col-4 link_image menu_image" [routerLink]="['/page_highlights']">
      <img src="{{imgHomePageURL}}menu-left.jpeg" alt="highlights from the collection">
      <div class="menu_text">highlights from the collection</div>
    </div>
    <div class="col-4 link_image menu_image" [routerLink]="['/page_masters']">
      <img src="{{imgHomePageURL}}menu-middle.jpeg" alt="great masters">
      <div class="menu_text">great masters</div>
    </div>
    <div class="col-4 link_image menu_image" 
    [routerLink] = "['/latest_story']" 
    [queryParams]="{ heading: 'story'}"
    >
      <img src="{{imgHomePageURL}}menu-right.jpeg" alt="latest stories">
      <div class="menu_text">latest stories</div>
    </div>
  </div>
</div>
</div>
  <div class="container vignette">
  <div class="row">
    <div class="col-4">
    <div class="col-3 link_image sticker" 
    [routerLink] = "['/chinese_painting_history']"
    [queryParams]="{heading: 'history'}"
    >
      <div class="sticker__image">
        <img src="{{imgHomePageURL}}sticker-left.jpeg" alt="chinese painting history">
      </div>
      <div class="sticker_text">
        Chinese Painting History
      </div>
    </div>
  </div>
    <div class="col-4">
    <div class=" link_image sticker" 
    [routerLink] = "['/learn']" 
    [queryParams]="{heading: 'learn'}">
      <div class="sticker__image">
      <img src="{{imgHomePageURL}}sticker-middle.jpeg" alt="learn about chinese painting">
      </div>
      <div class="sticker_text">
      Learn about Chinese Painting
    </div>
    </div>
  </div>
  <div class="col-4">
    <div class=" link_image sticker" [routerLink] = "['/support_us']" [queryParams]="{heading: 'supportus'}">
      <div class="sticker__image">
        <img src="{{imgHomePageURL}}sticker-right.jpeg" alt="support us">
      </div>
      <div class="sticker_text">
      Support Us
      </div>
    </div>
  </div>
  </div>
</div>
