<ngb-carousel 
interval="6000"
>

  <ng-template ngbSlide *ngFor="let slide of slides">
    <div class="picsum-img-wrapper">
      <img src="{{imgSrc}}{{slide.desktop}}" alt="{{slide.title}}">
    </div>
    <div class="carousel-caption">
      <h3>{{slide.title}}</h3>
      <p>{{slide.subtitle}}</p>
    </div>
  </ng-template>
</ngb-carousel>


<div class= "gallery">
<div  class= "gallery-item" *ngFor="let article of gallery">
 <ul (click) = "displayArticle(article.title, article.artist, article.dynasty, article.bigimage, article.en_gb)">
        <li>
        	<img src= "{{imgSrc}}{{article.smallimage}}">
      	</li>
      	
<li>
      		
      		{{article.title}}  
      		
      	</li>
      	<li>{{article.bigimage}}</li>
      </ul>


</div>
</div>