.placeblock {
	display: block;
	height: 130px;
}

.container_gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.galleryElement {
	width: 30%;
	margin-top: 20px;
}

.widthCentpc {
	width: 100%;
	height: auto;
	object-fit: contain;
  }

.underlined {
	text-decoration: underline;
}

.artResume {
	margin-top : 10px;
	font-weight: bold;
}

.filterList {
	list-style-type: none;
	display: flex;
}

.filterList li {
	margin-right: 15px;
}

.enbolded {
	font-weight: bold;
}