
<div class="placeblock"></div>
<div class="maingallery">
  <h1 class="enbolded">Highlights from the collection</h1>
  <h2>Explore the most popular master pieces</h2>


      <div class="container_gallery" >
      <div *ngFor="let article of gallery" class="galleryElement">
        <div class="{{article.category}} {{article.theme}} {{article.dynasty !== undefined ? article.dynasty[0].name : ''}}"[routerLink]="['/gallery/art',article.id]">
              <img src="{{imgSrc}}{{article.smallimage}}" class="widthCentpc">
              <div class="artResume"> 
                {{article.title}}
                <br>
                <span class="underlined" *ngIf="article.artist !== undefined ;else no_item">
                  {{article.artist[0].name}}
                </span>
                <br>
                <span *ngIf="article.dynasty !== undefined ;else no_item">
                  {{article.dynasty[0].name}}
                </span>
              </div>
              
          </div>
      </div>
    </div>
  </div>

  <ng-template #no_item>
    <span>unknown</span>
  </ng-template>


